borradorv2
supplementary
*.pdf
*zip
*.json
*.gexf
/__pycache__/
*.txt
*.gz
*.dat
*.csv
*.mat
*.fz
*.Ink
preprocdata/aal*
ESNcpp/eigen-master/*
DSI/dsi_studio_win/*
*.pkl
*.o
*.exe
*.gephi
*.lnk
*.log
*npy
*.npz
*.png
*.pkl
*.npz
LICENSE
README.md
.venv/*
*.py
*.txt
*.csv
*.png
*.pdf
resuts/*
agecorrelations/*
conn2res/*
ESN_Gephi/*
graphs/*
plots/*
DSI/*
recoveryfigs/*
ESNcpp/eigen-master/*
*.R




